@import '../App';

.breadcrumb {
   position: fixed;
   z-index: 4;
   display: flex;
   width: 100%;
   padding: 8px 5%;
   background: $darkBlue;
   box-shadow: $shadowM;
   .item {
      a,
      span {
         cursor: pointer;
         color: white;
         &:hover {
            opacity: 0.5;
         }
      }
      &::after {
         margin: 0 8px 0 2px;
         content: '\\';
         opacity: 0.25;
         color: white;
      }
   }
   .last {
      opacity: 0.75;
      color: white;
      &::after {
         content: none;
      }
   }
}
