@import '../App';

.subHeader {
   position: fixed;
   z-index: 3;
   top: 130px;
   width: 100%;
   padding: 16px 5% 8px;
   background: white;
   box-shadow: $shadowM;
   > h2 {
      display: flex;
      justify-content: space-between;
      > div {
         display: flex;
         align-items: center;
      }
   }
   > h3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}
