$Light: #f5f5f5;
$darkBlue: #374882;
$grayBlue: #9aa2bf;
$Blue: #40cfff;
$Yellow: #fbcb2b;
$bgGradient: linear-gradient(#f5f5f500 0%, #f5f5f5 100%);
$shadowS: rgba(0, 0, 0, 0.1) 2px 4px 8px;
$shadowM: rgba(0, 0, 0, 0.16) 4px 8px 16px;
$shadowL: rgba(0, 0, 0, 0.16) 8px 16px 36px;
$shadowLC: rgba(0, 0, 0, 0.16) 0 16px 36px;
$shadowLCRevers: rgba(0, 0, 0, 0.16) 0 -16px 16px;

.page {
   overflow: hidden;
   margin-top: 96px;
}

.headline {
   font-size: 48px;
   margin: 64px auto;
   text-align: center;
}
.link {
   cursor: pointer;
   text-decoration: underline;
   &:hover {
      opacity: 0.5;
   }
}
.linkBlue {
   color: $Blue !important;
}
.svgLink {
   box-sizing: content-box;
   width: 36px;
   height: 36px;
   &:hover {
      cursor: pointer;
      opacity: 0.5;
   }
}
.star {
   fill: $Yellow;
}
.productID {
   font-size: 16px;
   padding: 4px 16px 8px;
   cursor: pointer;
   color: white;
   border-radius: 16px;
   background-color: $darkBlue;
   box-shadow: $shadowM;
}

.scrollBars {
   > div:nth-of-type(3) {
      position: relative;
      width: 4px !important;
      margin-right: 2px;
      background-color: $grayBlue;
      > div {
         position: relative;
         left: -2px;
         width: 8px !important;
         border-radius: 8px !important;
         background-color: $darkBlue !important;
      }
   }
}
